.login-background-color{
    background-color: var(--color-1c3423);
}


.login-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex: 1;
}

.login-logo-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.login-logo{
    width: 100%;
}

.login-item{
    margin-bottom: 30px;
}

.login-subtitle {
    font-size: var(--font-16);
    color: var(--color-ffffffcc);
    text-align: center;
    font-family: var(--font-family);
}

.login-subtitle{
    margin: 10px 0px;
}

.login-button-container{
    width: 100%;
    padding: 0px 10px;
}

.login-button{
    font-family: var(--font-family);
    color: var(--color-ffffffcc);
}

.login-modal-title{
    font-family: var(--font-family);
    font-size: var(--font-28);
}

.login-modal-container>.ion-page{
    background-color: var(--color-F7F9FC) !important;
}

.login-modal{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.text-white{
    color: var(--color-ffffffcc);
}